{% extends "../layout.html" %}
{% block content %}
{% load static %}
<div class="content-section">
    {{ form.media }}
    <form method="POST">
        <fieldset>
            <legend class="border-bottom pd-2 mb-4 text-center" style="color:rgb(226, 71, 14)">Login aluno CESAR School</legend>
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <div>
                <button class="btn btn-outline-success" type="submit">Login</button>
            </div>
            <div>
                <a class="btn btn-outline-primary" href="register">Cadastrar</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}